<main class="page-content">

  <div class="page-inner" style="min-height:647px !important">
    <div id="main-wrapper">

      <div class="row">
        <div class="col-md-3 center">
          <div class="login-box">

            <a class="logo-name text-lg text-center">TrackMyBets</a>
            <p class="text-center m-t-md">Please login into your account.</p>

              <div class="form-group">
                <input class="form-control" placeholder="Nick" required="">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="">
              </div>
              <button (click)="login()" type="button" class="btn btn-success btn-block">Login</button>

              <p class="text-center m-t-xs text-sm">Do not have an account?</p>
              <a (click)="register()" class="btn btn-default btn-block m-t-md">Create an account</a>

          </div>
        </div>
      </div>

    </div>
  </div>

</main>
