<main class="page-content page-error">

  <div class="page-inner" style="min-height:670px !important">
    <div id="main-wrapper">

      <div class="row">
        <div class="col-md-4 center">
          <h1 class="text-xxl text-primary text-center">404</h1>
          <div class="details">
            <h3>Oops ! Algo no ha salido bien.</h3>
            <p>Nosotros no podemos encontrar la pagina introducida. Volvamos al <a (click)="goToHome()">Inicio</a></p>
          </div>          
        </div>
      </div>

    </div>
  </div>

</main>
