<main class="page-content">

  <div class="page-inner" style="min-height:647px !important">
    <div id="main-wrapper">

      <div class="row">
        <div class="col-md-3 center">
          <div class="login-box">

            <a href="index.html" class="logo-name text-lg text-center">TrackMyBets</a>
            <p class="text-center m-t-md">Create a account</p>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" required="">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="">
              </div>
              <button type="submit" class="btn btn-success btn-block m-t-xs">Register</button>

              <p class="text-center m-t-xs text-sm">Already have an account?</p>
              <a href="login.html" class="btn btn-default btn-block m-t-xs">Login</a>

          </div>
        </div>
      </div>

    </div>
  </div>

</main>
